---
import Layout from "../layouts/Layout.astro";
---

<Layout title={Astro.props.title}>
   <section class="my-24">
        <div class="px-10">
            <h1 class="text-4xl font-bold text-center">Example Page</h1>
            <p class="text-center text-lg mt-4">This is an example page.</p>
        </div>
   </section>
</Layout>